body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    
}
#cadastrar{
    font-style: normal italic;
    align-items: center;
    display: flex;
}
section{
    padding: 45px;
    border: 10px solid ;
    border-color: #081333;
}
form{
    padding-bottom: 30px;
}